require(['akase', '{{type}}/{{{name}}}'], function(core{{^isModule}}, {{name}}{{/isModule}}){
	'use strict';
	QUnit.start();

	{{#isModule}}
	module('{{{name}}}', {
		setup: function(){ document.body.innerHTML = '<div id="fake"></div>'},
		teardown: function(){}
	});
	{{/isModule}}

	test('example should change the html of the elm which id has been injected on help:update', 2, function(){
		{{#isModule}}var elm = document.getElementById('fake');

		equal('', elm.innerHTML, 'content is empty');

		core.start('{{type}}/{{{name}}}', {
			config: { id: 'fake' }
		});

		core.notify('help:update', {
			msg: 'everything is cool!'
		});

		equal('everything is cool!', elm.innerHTML, 'content has been changed');{{/isModule}}
	});
});
